.share{
    -webkit-box-shadow: -3px 6px 9px 0px #A5A5A5; 
    box-shadow: -3px 6px 9px 0px #A5A5A5;
    border-radius: 5px;
    margin-top: var(--margin-m);
    width: 100%;
    background-color: white;
}
.share-wrapper{
    padding: var(--padding-m);
}

.share-top{
    display: flex;
    align-items: center;
}

.share-top-image{
    width: 40px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: var(--margin-xs);
}
.share-top-input{
    width: 100%;
    outline: none;
    border: none;
    font-size: var(--font-size-s);

}

.shareHr{
    margin: 20px;
}


.share-bottom{
    display: flex;
    justify-content: space-between;
}

.share-bottom-left{
    display: flex;
    justify-content: space-around;
}

.share-bottom-item{
    margin-right: var(--margin-s);
}
.share-bottom-icon{
    margin-right: var(--margin-xs);
    color: rgb(45, 45, 227);
}

.share-button{
color: white;
background-color:rgb(45, 45, 227);
font-size: var(--font-size-s);
padding: var(--padding-xs);
border-radius: 8px;
}